@use "../../../globalStyles/base" as base;

.header {
  background-color: #fff;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.container {
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: #ff5722;
  }
}

.nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

.navLink {
  color: base.$black;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    color: #ff5722;
  }
}

.loginBtn,
.registerBtn {
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.loginBtn {
  color: #000000;

  &:hover {
    background-color: #f0f0ff;
  }
}

.registerBtn {
  background-color: #ff5722;
  color: white;

  &:hover {
    background-color: base.$primary-dark;
  }
}

.header {
  background-color: #fff;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.dropdown {
  position: relative;
  display: inline-block;

  &:hover .dropdownContent {
    display: block;
  }
}

.dropbtn {
  background: none;
  border: none;
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  font-size: 16px;
  font-weight: 600;
  font-family: "AcuminPro";
  cursor: pointer;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 4px;

  .chevronDownIcon {
    color: #191919;

    &:hover {
      color: #ff5722;
    }
  }

  &:hover {
    color: #ff5722;
  }
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0.5rem 0;

  a {
    color: base.$black;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: #f8f9ff;
      color: #ff5722;
    }
  }
}

.avatar_container {
  position: relative;
}

.avatar_button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.avatar_image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar_menu {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  min-width: 180px;
  width: 200px;
}

.avatar_menu_item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 5px;
  text-decoration: none;
  color: #000000;
  transition: background-color 0.3s ease;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;

  .avatar_menu_item_description {
    font-size: 12px;
    font-weight: 400;
    color: #191919;
  }
  &:hover {
    background-color: #f5f5f5;
  }

  i {
    font-size: 14px;
    font-weight: 600;
    color: base.$primary;
  }
}

.searchBar {
  display: flex;
  gap: 16px;
  height: 40px;
  // margin-bottom: 24px;

  .searchInput {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 50px;
    border: 1px solid #e0e0e0;
    padding: 0 15px;
    height: 40px;

    .searchIcon {
      color: #000000;
      margin-right: 15px;
      font-size: 16px;
      width: 18px;
      height: 18px;
    }

    input {
      flex: 1;
      border: none;
      padding: 15px 0 10px 0;
      background-color: #f9f9f9;
      width: 350px;

      font-size: 16px;
      font-weight: 700;
      font-family: "AcuminPro";
      color: #000000;
      line-height: 1;
      height: 100%;

      &::placeholder {
        font-size: 16px;
        line-height: 0.8;
        font-weight: 700;
        font-family: "AcuminPro";
        color: #191919;
      }

      &:focus {
        outline: none;
      }
    }

    .searchType {
      padding: 8px;
      border: none;
      background: #f5f5f5;
      border-radius: 4px;
      margin-left: 12px;
    }
  }

  .sortButton {
    padding: 0 20px;
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: #f5f5f5;
    }
  }
}
