@use "../../../globalStyles/_base.scss" as base;

.slick-prev:before,
.slick-next:before {
  color: red;
}

.featuredServicesContainer {
  background-color: #f9f9f9;
  padding-top: 20px;
  border: 1px solid #e0e0e0;
}


.featuredServices_main_container {
  padding: 20px;
  background-color: #f9f9f9;

  :global {
    .slick-prev,
    .slick-next {
      width: 35px;
      height: 35px;
      z-index: 1;

      &::before {
        color: #333;
        font-size: 35px;
      }
    }

    .slick-track {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100% !important;
      // gap: 20px;
    }

    .slick-slide,
    slick-active {
      //width: auto !important;
    }

    .slick-prev {
      left: 0px;
    }

    .slick-next {
      right: 0px;
    }
  }
}

.slide {
  padding: 0 8px;
}
