@use "../../../globalStyles/_base.scss" as base;

.slick-prev:before,
.slick-next:before {
  color: red;
}

.featuredServicesContainer {
  background-color: #f9f9f9;
  padding-top: 20px;
  border: 1px solid #e0e0e0;
}

.featuredServices_main_container {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  gap: 15px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  // border-bottom: 1px solid #e0e0e0;
  background-color: #f9f9f9;

  .service_card_wrapper {
    margin-right: 16px;
  }

  .services_container {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
